<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OpenWeather Connector - Settings</title>
</head>
<body>
<h1>View settings</h1>
<div>
    <strong>Open Weather API Key:</strong> {{ openweather_api_key }}
</div>

<a href="/settings/edit">Edit Settings</a>

</body>
</html>