<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OpenWeather Connector - Settings</title>
</head>
<body>
<h1>Edit settings</h1>
<form action="" method="post">
    <input type="text" name="openweather_api_key" value="{{ openweather_api_key }}">
    <input type="submit" value="Save settings">
</form>

</div>

<a href="/settings/view">View Settings</a>

</body>
</html>