<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>OpenWeather Connector</title>
</head>
<body>
  <h1>Show weather</h1>

  <form method="post" action="">

          <label for="zip">Zipcode: </label>
          <input type="text" name="zip" id="zip" required>
          <input type="submit" value="Submit">

  </form>

</body>
</html>
